<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <main>
        <%- include("../includes/navigation.ejs") %>
        <form class="form" action="/reset" method="POST">
            <input type="text" placeholder="Email" name="email">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Reset Password</button>
            <%- include('../includes/error-messages.ejs') %>
            <%- include('../includes/success-messages.ejs') %>
        </form>
    </main>
</body>
</html>