<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/products.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(products.length > 0) { %>
            <ul class="products">
                <% for(product of products) { %>
                    <li class="admin">
                        <h2 class="title"><%= product.title %></h2>
                        <p class="price"><%= product.price %>$</p>
                        <p class="description"><%= product.description %></p>
                        <div class="actions">
                            <a href="/admin/edit-product/<%= product._id %>?editing=true">Edit</a>
                            <form action="/admin/delete-product/<%= product._id %>" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </li>
                <% } %>
            </ul>
        <% } else { %>
            <h1 class="not-found">
                No products yet, try add one...
            </h1>
        <% } %>
    </main>
</body>
</html>