<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/products.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="balance">
            <h1>Balance: <%= balance %></h1>
        </div>
        <% if(cartProducts.length > 0) { %>
            <ul class="products">
                <% for(product of cartProducts) { %>
                    <li>
                        <h2 class="title"><%= product.title %></h2>
                        <p class="price"><%= product.price %>$</p>
                        <p class="cart">count: <%= product.quantity %></p>
                        <p class="description"><%= product.description %></p>
                        <form class="actions" action="/delete-cart" method="post">
                            <input type="hidden" name="id" value="<%= product._id %>">
                            <button class="danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% } %>
            </ul>
            <form class="actions" action="/order" method="post">
                <button type="submit">Make Order</button>
            </form>
        <% } else { %>
            <h1 class="not-found">
                No products yet, try add one...
            </h1>
        <% } %>
    </main>
</body>
</html>