<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/order.css">
</head>
<body>
    <main>
        <%- include("../includes/navigation.ejs") %>
        <div style="margin: 2rem">
            <h1>Orders</h1>
            <% if(orders.length > 0) { %>
                <ul class="order">
                    <% for(let order of orders) { %>
                        <li>
                            <a href="/orders/<%= order._id %>">
                                ID: <%= order._id %>
                            </a>
                            <ul class="order-product">
                                <% for(let product of order.products) { %>
                                    <li>
                                        <h3><%= product.productId.title %>(<%= product.quantity %>)</h3>
                                        <h4><%= product.productId.price %>$</h4>
                                    </li>
                                <% } %>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
                No orders yet...
            <% } %>
        </div>
    </main>
</body>
</html>