<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/products.css">
</head>
<%- include('../includes/body.ejs') %>
        <% if(products.length > 0) { %>
            <ul class="products">
                <% for(product of products) { %>
                    <li>
                        <h2 class="title"><%= product.title %></h2>
                        <p class="price"><%= product.price %>$</p>
                        <p class="description"><%= product.description %></p>
                        <img src="<%= product.image %>" alt="Product Image">
                        <div class="actions">
                            <a href="/products/<%= product._id %>">Detail</a>
                            <%- include('../includes/add-to-cart.ejs') %>
                        </div>
                    </li>
                <% } %>
            </ul>
        <% } else { %>
            <h1 class="not-found">
                No products yet, try add one...
            </h1>
        <% } %>
    </main>
</body>
</html>